<section class = "main_heading my-5 align-middle">
  <div class = "container text-center ">
    <h1 class = "display-4">Test <span style = "color: #008F7A;">Yourself</span></h1>
  </div>
</section>

<section class = "text-center ">
  <div class="dropdown">
  <button class="btn btn-light my-5 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Select Difficulty Level
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Easy</a></li>
    <li><a class="dropdown-item" href="#">Medium</a></li>
    <li><a class="dropdown-item" href="#">Hard</a></li>
  </ul>
  </div>
</section>

<section class = "text-center">
  <div class= "my-5">
    <button type="button" class="btn btn-outline-success">Start Test</button>
  </div>
</section>