<section class = "main_heading my-5 align-middle">
  <div class = "container text-center ">
    <h1 class = "display-4">Test <span style = "color: #008F7A;">Yourself</span></h1>
  </div>
</section>

<section >
  
    <select  id="temp" class="form-select bg-light m-10 text-dark" aria-label="Default select example">
  <option selected>Choose difficulty level</option>
  <option value="Easy">Easy</option>
  <option value="Medium">Medium</option>
  <option value="Hard">Hard</option>
  </select>   
</section>

<section class = "text-center">
  <div class= "my-5">
    <button onclick="dropdown()" id="start" type="button" class="btn btn-outline-success">Start Test</button>
</section>
